main {
    max-width: 60%;
    margin: 0 auto;
}
ul {
    list-style-type: none;
}
.current-flex-container {
    display: flex;
    width: 100%;
    height: auto;
}
/*current-flex-container div {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    height: auto;*/
/*}*/
.flex-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.update-btn {
    width: 150px;
    height: 40px;
    background-color: lightgray;
    border: 1px solid darkgrey;
    font-weight: bold;
    color: gray;
    margin: 0 auto;
}
.current-title {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.favourite {
    padding: 0 0;
}
.favourite .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.favourite .flex-container h3, div, span, button{
    display: inline;
}
.main-info {
    width: auto;
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
}
.list-container {
    display: flex;
    justify-content: space-between;
}
.title {
    font-family: 'Lucida Sans Unicode', sans-serif;
    font-size: 150%;
    color: darkgray;
    margin-right: 5%;
    margin-top: 0;
}
.current-city {
    font-size: 200%;
    max-height: 50px;
}
.city {
    font-family: 'Times New Roman', Times, serif;
    color: slategray;
}
.temperature {
    font-family: 'Sylfaen', serif;
    font-weight: bold;
    color: slategray;
    float: right;
}
.favourite-temp {
    font-size: 200%;
    letter-spacing: -1px;
}

.current_temp{
    font-size: 500%;
    letter-spacing: -5px;
}
.image {
    display: inline-block;
}
.current-image {
    width: 100px;
    height: 100px;
}
.image img {
    max-width: 100%;
    max-height: 100%;
}
.favourite-image {
    width: 50px;
    height: 50px;
}
.current {
    padding-top: 15px;
    padding-left: 0;
    width: auto;
}

.weather-list {
    flex: 1;
    height: auto;
}

.current li {
    background-color: darkgray;
    color: aliceblue;
    margin-top: 10px;
    padding: 5px;
    width: auto;
}

.current li span {
    font-weight: bold;
}

.current li .description {
    display: inline-block;
    float: right;
    margin: 0 0;
}

.city-list-header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.add-button {
    height: 30px;
    width: 30px;
    background-color: gray;
    border-radius: 50%;
    border: 1px solid gray;
    color: aliceblue;
    text-align: center;
    float: right;
}


.add-city-form input{
    height: 55%;
    background-color: gainsboro;
    border: 1px solid lightgray;
    margin-right: 5px;
}
.list-container ul{
    padding: 0 0;
    width: 100%;
}
.list-container .list-start {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-auto-rows: minmax(auto, auto);
}

@media (max-width: 1000px) {
    .current-flex-container {
        flex-direction: column;
    }

    .current-flex-container div {
        max-height: 200px;
    }

    .main-info {
        width: 80%;
    }

    .current-image {
        width: 90px;
        height: 90px;
    }

    .list-container .list-start {
        grid-template-columns: repeat(1, 1fr);
    }

    .current_temp {
        letter-spacing: -2px;
    }

    .city-list-header {
        margin-top: 50px;
    }
    .add-city-form input {
        width: auto;
        max-width: 200px;
    }
}
@media screen and (max-width: 650px) {
    .title {
        font-size: 120%;
    }
    .current_temp {
        font-size: 300%;
        letter-spacing: -1px;
    }
    .main-info {
        width: 80%;
    }
    .update-btn {
        width: 120px;
        font-size: 70%;
    }
    #current-temp{
        margin-top: 10px;
    }
    .add-city-form{
        width: 100%;
    }
    .add-city-form input{
        width: 80%;
        max-width: 100%;
        height: 100%;
    }
}
@media only screen and (max-width: 480px) {
    .update-btn {
        width: 30px;
        height: 30px;
        color: transparent;
        background-image: url("upload_img.jpg");
        background-size: 28px;
    }
    .main-info {
        margin-right: 0;
    }
    .current_temp {
        font-size: 220%;
        letter-spacing: -1px;
    }
    .add-city-form label input{
        width: 80%;
        height: 35px;
    }
    #current-temp{
        margin-top: 20px;
    }
}
